.price {
	font-family: Trebuchet MS;
	border: 3px solid #ee8129;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(173,215,239,0.9);
	width: 300px;
	height: 475px;
	overflow: hidden;
	margin: auto;
}

.price__caption {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ee8129;
	color: #ffffff;
	text-align: center;
	padding: 25px 0;
}

.price__header {
	font-size: 24px;
	text-transform: uppercase;
	color: #3f4042;
	text-align: center;
	padding: 15px 0;
}

.price__monthly {
	font-size: 72px;
	font-weight: bold;
	color: #35495a;
	text-align: center;
}

.price__monthly::before {
	content: "$";
	vertical-align: super;
	font-size: 36px;
}

.price__monthly::after {
	content: "Monthly";
	vertical-align: sub;
	font-size: 18px;
}

.price__adv1::before, .price__adv2::before, .price__adv3::before, .price__adv4::before {
	content: "✓";
	padding: 0 15px 0 30px;
	color: #8eb309;
	font-size: 24px;
}

.price__adv1 {
	font-size: 17px;
	text-transform: uppercase;
	background-color: #edf5fd;
	margin: 30px 15px 0 15px;
	color: #888c94; 
}

.price__adv2 {
	font-size: 17px;
	text-transform: uppercase;
	background-color: #f5f5f6;
	margin: 1px 15px 0 15px;
	color: #888c94; 
}

.price__adv3 {
	font-size: 17px;
	background-color: #edf5fd;
	margin: 1px 15px 0 15px;
	color: #888c94; 
}

.price__adv4 {
	font-size: 17px;
	background-color: #f5f5f6;
	margin: 1px 15px 0 15px;
	color: #888c94; 
}

.price__button {
	width: 240px;
	height: 45px;
	font-weight: bold;
	background-color: #ee8129;
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 3px 0 #b3560b;
	margin: 20px 30px;
}