.price {
	font-family: Trebuchet MS;
}

.price__caption {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #41525c;
	margin: 60px 0 65px 0;
}

.plans {
	padding-left: 15%;
}

.standart, .bestvalue {
	display: inline-block;
}

.standart {
	border: 1px solid #c8c8ce;
	border-radius: 5px;
	width: 300px;
	height: 440px;
	position: relative;
	right: -7px;
}

.standart__caption {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #37c2d3;
	color: #ffffff;
	padding: 15px 0;
}

.standart__header {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #3f4042;
	padding: 15px 0;
}

.standart__cost {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	color: #364959;
	margin: 0 0 30px 0;
}

.standart__cost::before {
	content: "$";
	vertical-align: super;
	font-size: 36px;
	font-weight: bold;
	color: #364959;
}

.standart__cost::after {
	content: "Monthly";
	vertical-align: sub;
	font-size: 18px;
	color: #364959;
}

.standart__list {
	list-style-type: none;
	font-size: 15px;
	color: #888c94;
	margin: 1px 5px 0;
	padding: 0;
}

.adv::before {
	content: "✓";
	color: #8eb309;
	font-size: 24px;
	padding: 0 15px 0 30px;
}

.adv:nth-child(2n+1) {
	background-color: #eef5fc;
}

.adv:nth-child(2n+2) {
	background-color: #e8f2fb;
}

.standart__button {
	width: 280px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: #3371a6;
	font-weight: bold;
	color: #ffffff;
	box-shadow: 0 3px 0 #16436a;
	margin: 15px 5px 15px 10px;
}

.bestvalue {
	border: 3px solid #ec8136;
	border-radius: 5px;
	width: 300px;
	height: 470px;
	box-shadow: 0 0 10px rgba(173,215,239,0.9);
	z-index: 2;
	position: relative;
}

.bestvalue__caption {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #ec8136;
	color: #ffffff;
	padding: 20px 0;
}

.bestvalue__header {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;;
	text-align: center;
	color: #3f4042;
	padding: 15px 0;
}

.bestvalue__cost {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	color: #364959;
	margin: 0 0 30px 0;
}

.bestvalue__cost::before {
	content: "$";
	vertical-align: super;
	font-size: 36px;
	font-weight: bold;
	color: #364959;
}

.bestvalue__cost::after {
	content: "Monthly";
	vertical-align: sub;
	font-size: 18px;
	color: #364959;
}

.standart__button-orange {
	background-color: #ec8136;
	box-shadow: 0 3px #b1561b;
}

.caption-ultimate {
	background-color: #1cb79a;
}
.standart-ultimate {
	position: relative;
	left: -7px;
	z-index: 1;
}