// Font start                                                   Used by page: {all-site}
$font_size:         62.5%;
$font_family:       "open_sans",sans-serif;

$font_w_thin:       300;
$font_w_normal:     400;
$font_w_bold:       600;
$font_w_x_bold:     700;
$font_w_xx_bold:    800;
// Font end