/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 96, icons/*.png */
.icons-sprite, a {
  background-image: url('../img/icons-s95aee5735c.png');
  background-repeat: no-repeat;
}

/* line 19, ../sass/style.scss */
.hexagon-big {
  width: 340px;
  height: 205px;
  background: #ed6800;
  position: relative;
  margin: 150px auto;
}

/* line 26, ../sass/style.scss */
.hexagon-big:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-bottom: 100px solid #ed6800;
}

/* line 37, ../sass/style.scss */
.hexagon-big:after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-top: 100px solid #ed6800;
}

/* line 49, ../sass/style.scss */
.hexagon-small {
  width: 100px;
  height: 55px;
  background: #ed6800;
  position: relative;
  margin: 150px auto;
}

/* line 57, ../sass/style.scss */
.hexagon-small:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 30px solid #ed6800;
}

/* line 69, ../sass/style.scss */
.hexagon-small:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #ed6800;
}

/* line 81, ../sass/style.scss */
.hexagon-small-2 {
  width: 92px;
  height: 51px;
  margin: auto;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

/* line 93, ../sass/style.scss */
.hexagon-small-2:before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-bottom: 26px solid #fff;
  z-index: 2;
}

/* line 105, ../sass/style.scss */
.hexagon-small-2:after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-top: 26px solid #fff;
  z-index: 2;
}

/* line 117, ../sass/style.scss */
a {
  background-position: 0 -488px;
}
