/*Пробовал сделать через flex...не знаю насколько у меня это получилось. По возможности, прошу предоставить развернутые комментарии.
Основные вопросы, которые возникли:
1 - Если внутри div, display:flex вложенный другой div, то для дочерних элеметов нужно отдельно задавать display:flex?
2 - Если в качестве фона у нас картинка, как ее полностью отобразить, чтобы не задавать фиксированную ширину?
3 - Как все-таки правильно задать ширину блоков внутри блока flex? К примеру, нужно 3 инлайновых блока, а под ними 1 с шириной 100%.*/

body {
	margin: 0;
	font-family: Verdana, "Trebuchet MS", Arial
}

.header {
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100px;
}

.header__logo {
	flex: 1;
	margin-left: 150px;
}

.header_cn {
	font-size: 26px;
	color: #FF5722;
	font-weight: 100;
	margin: 30px 0;
}

.header_sp {
	color: #0D47A1;
	text-transform: uppercase;
}

.header__navigation {
	flex: 3;
	margin-right: 150px;
}

.navigation_bar {
	list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin: 0;
}

.navigation_link {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	color: #9E9E9E;
	padding: 51px 20px 27px;
}

.navigation_link:hover {
	color: #0D47A1;
	border-bottom: 3px solid #0D47A1;
}

.banner {
	display: flex;
	background: url(img/banner.png);
	height: 585px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.banner__text {
	margin: auto;
	color: #ffffff;
	text-align: center;
}

.banner_preh {
	font-size: 20px;
	font-weight: 200;
}

.banner_h {
	text-transform: uppercase;
	font-size: 26px;
}

.banner_subh {
	font-style: italic;
	font-size: 12px;
	line-height: 2em;

}

.banner_button {
	margin-top: 20px;
	padding: 10px 30px;
	border: 1px solid #F5F5F5;
	background: transparent;
	color: #ffffff;
	text-transform: uppercase;
}

.services {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.services__header {
	flex-basis: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #41525c;
	margin-top: 25px;
}

.services__protect, .services__alert, .services__detect {
	flex: 25%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.services__protect {
	margin-left: 100px;
}

.services__detect {
	margin-right: 100px;
}

.services__alert {
	margin-left: 30px;
	margin-right: 30px;
}

.services_name {
	text-transform: uppercase;
	font-weight: 100;
	color: #0D47A1;
}

.services_description {
	font-size: 12px;
	color: #9E9E9E;
}

.middle {
	background: url(img/middle.png);
	display: flex;
	flex-wrap: wrap;
	height: 577px;
	overflow: hidden;
}


.middle__header {
	margin: 100px 0 15px 100px;
	color: #FB8C00;
	font-size: 20px;
	line-height: 1.7em;
}

.middle__subh {
	margin-left: 100px;
	color: #ffffff;
	font-style: italic;
	font-size: 16px;
}

.middle__list {
	margin-left: 100px;
	list-style: disc;
	font-size: 14px;
	color: #757575;
	width: 50%;
	line-height: 2em;
}

.middle_li {
	margin-top: 20px;
}

.li-blue {
	color: #3070a8;
}

.price {
	display: flex;
	flex-wrap: wrap;
}

.price__caption {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #41525c;
	margin: 60px 0 65px 0;
	flex-basis: 100%;
}

.plans {
	margin: 0 auto 100px;
}

.standart, .bestvalue {
	display: inline-block;
}

.standart {
	border: 1px solid #c8c8ce;
	border-radius: 5px;
	width: 300px;
	height: 440px;
	position: relative;
	right: -7px;
}

.standart__caption {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #37c2d3;
	color: #ffffff;
	padding: 15px 0;
}

.standart__header {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #3f4042;
	padding: 15px 0;
}

.standart__cost {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	color: #364959;
	margin: 0 0 30px 0;
}

.standart__cost::before {
	content: "$";
	vertical-align: super;
	font-size: 36px;
	font-weight: bold;
	color: #364959;
}

.standart__cost::after {
	content: "Monthly";
	vertical-align: sub;
	font-size: 18px;
	color: #364959;
}

.standart__list {
	list-style-type: none;
	font-size: 15px;
	color: #888c94;
	margin: 1px 5px 0;
	padding: 0;
}

.adv::before {
	content: "✓";
	color: #8eb309;
	font-size: 24px;
	padding: 0 15px 0 30px;
}

.adv:nth-child(2n+1) {
	background-color: #eef5fc;
}

.adv:nth-child(2n+2) {
	background-color: #e8f2fb;
}

.standart__button {
	width: 280px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: #3371a6;
	font-weight: bold;
	color: #ffffff;
	box-shadow: 0 3px 0 #16436a;
	margin: 15px 5px 15px 10px;
}

.bestvalue {
	border: 3px solid #ec8136;
	border-radius: 5px;
	width: 300px;
	height: 470px;
	box-shadow: 0 0 10px rgba(173,215,239,0.9);
	z-index: 2;
	position: relative;
}

.bestvalue__caption {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #ec8136;
	color: #ffffff;
	padding: 20px 0;
}

.bestvalue__header {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;;
	text-align: center;
	color: #3f4042;
	padding: 15px 0;
}

.bestvalue__cost {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	color: #364959;
	margin: 0 0 30px 0;
}

.bestvalue__cost::before {
	content: "$";
	vertical-align: super;
	font-size: 36px;
	font-weight: bold;
	color: #364959;
}

.bestvalue__cost::after {
	content: "Monthly";
	vertical-align: sub;
	font-size: 18px;
	color: #364959;
}

.standart__button-orange {
	background-color: #ec8136;
	box-shadow: 0 3px #b1561b;
}

.caption-ultimate {
	background-color: #1cb79a;
}
.standart-ultimate {
	position: relative;
	left: -7px;
	z-index: 1;
}

.comments {
	height: 315px;
	background: url(img/bg.png);
	margin: 0;
	padding: 0;
	position: relative;
	
	display: flex;
	flex-flow: row wrap;
}

.comments__header {
	font-size: 40px;
	text-transform: uppercase;
	color: #3170a8;
	text-align: center;
	margin: 40px 0 0;
	flex-basis: 100%;
}

.header-orange {
	font-size: 40px;
	text-transform: uppercase;
	color: #ee8129; 
}

.user {
	flex-basis: 50%;
	display: flex;
}

.user_img {
	height: 105px;
	width: 105px;
	margin-left: 100px;
}

.img-david {
	margin-left: 0px;
}

.user_name, .user_type {
	font-size: 13px;
	color: #3070a8;
	font-style: italic;
	flex: 1;
	margin-bottom: 0;
}

.user_name {
	text-align: left;
	margin-left: 10px;
}

.user_type {
	text-align: right;
	margin-right: 10px;
}

.user__border {
	margin: 0 10px;
	border-top: 1px dotted;
	color: #666666;
	flex-basis: 100%;
	display: flex;
}

.user_comment {
	font-size: 13px;
	color: #666666;
	margin: 0 10px;
}

.user__comment {
   width: 360px;
   height: 100px;
   background: #ffffff;
   border: 2px solid #d6d6d6;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   margin-left: 25px;
}

.user__comment::before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 15px solid #ffffff;
   border-bottom: 13px solid transparent;
}

.user__info {
	font-size: 13px;
	color: #3070a8;
	font-style: italic;	
}

.footer {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.contacts__address, .contacts__map {
	flex: 1;
}

.contacts__address {
	margin: auto 0 auto 100px;
}

.address {
	font-style: normal;
	color: #666666;
	line-height: 2em;

}

.address_sp {
	padding-left: 37px;
}

.address_sp-p {
	padding-top: 10px;
}

.contact_img {
	padding-right: 15px;
}

.contacts_social {
	height: 46px;
	width: 46px;
	margin-top: 20px;
	margin-right: 15px;
}

.copyright {
	background-color: #3070a8;
	flex-basis: 100%;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
}

.footer_copy {
	margin: 20px 0 0 0;
	flex-basis: 100%;
	text-align: center;
}

.footer_designed {
	margin-bottom: 30px;
	flex-basis: 100%;
	text-align: center;
}

.footer_link {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
}