.search {
	width: 50%;
	background: -webkit-gradient(linear, left top, left bottom,	color-stop(0, #FFCC66),	color-stop(1, #FFC34C));
	display: inline-block;	
	position: relative;
	min-width: 450px;
	height: 60px;
}


.search::after {
	position: absolute;
	top: 12px; right: -18px;
	width: 35px;
	height: 36px;
	transform: rotate(134deg) skewX(-10deg) skewY(-10deg);
	background: linear-gradient(45deg, #FFCC66, #FFC34C);
	content: '';
	z-index: -1;
}

.search_field {
	margin: 5px;
	width: 80%;
	height: 25px;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
  	border: none;
}

.search_button {
	border: 1px solid #b2b2b2;
	border-radius: 2px;
	width: 70px;
	height: 25px;
	font-size: 14px;
	background: #ffffff;
	box-shadow: inset 0 -3px 15px -1px rgba(0,0,0,0.2);
}

.search_checkbox {
	margin-left: 5px;
}

span {
	vertical-align: top;
}