.sivtsev {
	width: 400px;
	font-size: 80px;
}

.sivtsev p {
	margin: 0 10px;
	padding: 0;
	color: rgba(0,0,0,0);
	text-align: justify;
	height: 1.5em;
	min-height: 50px;
}

.sivtsev p::after {
	content: " ";
	display: inline-block;
	width: 100%;
}

.sight01 {
	font-size: 100%;
	text-shadow: 0 0 1px #555555;
}


.sight02 {
	font-size: 90%;
	text-shadow: 0 0 2px #555555;
}

.sight03 {
	font-size: 80%;
	text-shadow: 0 0 3px #555555;
}

.sight04 {
	font-size: 70%;
	text-shadow: 0 0 4px #555555;
}

.sight05 {
	font-size: 60%;
	text-shadow: 0 0 5px #555555;
}

.sight06 {
	font-size: 50%;
	text-shadow: 0 0 5px #555555;
}

.sight07 {
	font-size: 40%;
	text-shadow: 0 0 5px #555555;
}

.sight08 {
	font-size: 30%;
	text-shadow: 0 0 5px #555555;
}

.sight09 {
	font-size: 25%;
	text-shadow: 0 0 5px #555555;
}

.sight10 {
	font-size: 20%;
	text-shadow: 0 0 5px #555555;
}

.uline {
	border-bottom: 2px solid rgba(255,0,0,0.2);
	margin: 0 10px 30px;
}

.sight15 {
	font-size: 15%;
	text-shadow: 0 0 5px #555555;
}

.sight20 {
	font-size: 10%;
	text-shadow: 0 0 3px #555555;
	margin: 10px 0;
}