.navigation {
	background-color: #a64dff;
	margin: 0 -10px;
	height: 40px;
}

.navigation__nav {
	width: 900px;
	margin: auto;
	
}

.navigation__menu {
	margin: 0;
	padding: 0;
}

.navigation__item {
	display: inline-block;
	padding: 10px 0;
}

.navigation__link {
	font-family: Impact;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	padding: 10.5px;
}

.navigation__link:hover {
	background-color: #eeeeee;
	color: #a0a0a0;
}

.navigation__link:focus {
	background-color: #eeeeee;
	color: #a0a0a0;
}
